<meta name="description" content="Campanha orgulhosamente feita por mulheres dos studios Guava Software, Labcodes e Vinta Software.">
<meta property="og:type" content="business.business">
<meta property="og:url" content="https://mulheresdeti.recife.br">
<meta property="og:title" content="Mulheres de T.I. em Recife">
<meta property="og:image" content="https://mulheresdeti.recife.br/images/social/project-cover.png">
<meta property="og:image:width" content="390">
<meta property="og:image:height" content="310">
<meta property="og:description" content="Campanha orgulhosamente feita por mulheres dos studios Guava Software, Labcodes e Vinta Software.">
<meta property="business:contact_data:locality" content="Recife">
<meta property="business:contact_data:country_name" content="Brazil">
<meta property="business:contact_data:region" content="Pernambuco">
