///////////////////////////////////////////////////////////
// Buttons                                  (Core block) //
///////////////////////////////////////////////////////////

@import "mixins";
@import "scale";
@import "colors";
@import "typography";

button, input[type="button"], .button {
  @include transition;
  font-size: size(smaller);
  color: $white;
  font-weight: $bold;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  max-width: 15rem;
  padding: $gutter-small-alt $gutter-small;
  margin: $gutter-bigger auto 0;
  background-color: $pink;
  border: none;
  border-radius: $gutter-tiny;
  display: block;
  &:focus, &:active, &:hover {
    background-color: darken($pink, 2%);
    transform: scale(1.05);
  }
}
