///////////////////////////////////////////////////////////
// Colors                                   (Core block) //
///////////////////////////////////////////////////////////

// Palette ////////////////////////////////////////////////

$yellow:                #fcc859;
$purple:                #351b4c;
$pink:                  #f15f5c;
$white:                 #fff;

$gray:                  #9b9b9b;
$gray-light:            #f2f2f2;
