///////////////////////////////////////////////////////////
// Global HTML & classes                    (Core block) //
///////////////////////////////////////////////////////////

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-color: $purple;
  opacity: .2;
  margin: 0 0 $gutter-medium;
}
