///////////////////////////////////////////////////////////
// Global HTML & classes                    (Core block) //
///////////////////////////////////////////////////////////

body { margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  margin: 0 0 1.1rem;
  border-color: $purple;
  opacity: .1;
}
