///////////////////////////////////////////////////////////
// Grid                                     (Core block) //
///////////////////////////////////////////////////////////

.grid {
  &.content {
    box-sizing: border-box;
    padding-right: .75rem;
    padding-left: .75rem;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
  }
}
