///////////////////////////////////////////////////////////
// Grid                                     (Core block) //
///////////////////////////////////////////////////////////

$aside-width: 14rem;

body {
  @include media(">notebook") { min-width: 50rem; }
}

.grid {
  &.aside {
    @include media(">notebook") {
      width: $aside-width;
      height: 100%;
      position: fixed;
    }
  }
  &.content {
    box-sizing: border-box;
    padding-right: $gutter-big;
    padding-left: $gutter-big;
    max-width: 60rem;
    margin: 0 auto;
    position: relative;
  }
  &.wrapper { margin-left: 14rem; }
}

