///////////////////////////////////////////////////////////
// Grid                                     (Core block) //
///////////////////////////////////////////////////////////

// Breakpoints
$breakpoints: (
  "phone":     320px,
  "phablet":   570px,
  "tablet":    767px,
  "notebook":  1023px,
  "desktop":   1279px,
  "large":     1439px,
  "huge":      1599px,
);

$aside-width: 14rem;

body {
  @include media(">notebook") { min-width: 50rem; }
}

.grid {
  &.aside {
    @include media(">notebook") {
      width: $aside-width;
      height: 100%;
      position: fixed;
    }
  }
  &.content {
    box-sizing: border-box;
    padding-right: $gutter-big;
    padding-left: $gutter-big;
    max-width: 72.5rem;
    margin: 0 auto;
    position: relative;
    @include media(">notebook") { margin-left: $aside-width; }
  }
}