---
title: Mulheres de T.I. em Recife
---

<header>
  <h1>Mulheres de T.I. em Recife</h1>
</header>

<section class="project section / is-yellow">
  <article class="content grid">
    <h2>No universo de 132 mulheres que atuam na área de Tecnologia da Informação (T.I.) em Recife, <span>24 relataram casos de assédio sexual* e 14 de assédio moral.</span></h2>
    <small>*Assédio sexual: 16 por colegas, 8 pelo chefe.</small>
    <small>Dados obtidos em pesquisa realizada durante campanha do dia da mulher, em 2018.</small>
  </article>
</section>

<section class="brochure section / is-purple">
  <article class="content grid">
    <h2>Juntas, podemos melhorar esta realidade.</h2>
    <p class="bigger text">Em 2018 tivemos a oportunidade de expor, discutir e pensar em ações possíveis para (quem sabe um dia) transformar esse cenário. Este guia é um dos resultados da campanha “Como é ser mulher de T.I. em Recife?”, e agora, no dia da mulher em 2019, convidamos você a melhorar o seu ambiente de trabalho.</p>
  </article>
  <ul>
    <li>
      <h3>Princípios</h3>
      <p>Listamos princípios que devem ser adotados por todos, com o objetivo de criar um ambiente de trabalho mais inclusivo e igualitário.</p>
    </li>
    <li>
      <h3>Atitudes</br>individuais</h3>
      <p>Coisas que todo mundo pode fazer, enquanto indivíduo, que podem evitar o desconforto de mulheres no ambiente de trabalho (e na vida).</p>
    </li>
    <li>
      <h3>Atitudes para</br>empresas</h3>
      <p>O que as instituições podem fazer para proporcionar  mais segurança para mulheres.</p>
    </li>
  </ul>
  <button class="download button">Baixar Cartilha</button>
</section>

<section class="know-more section">
  <h2>Saiba Mais</h2>
  <article>
    <h3>Quem mantém o projeto?</h3>
    <p>Campanha feita por mulheres de studios de software em Recife:</p>
  </article>
  <article>
    <h3>Contato</h3>
    <p>Em caso de dúvidas, elogios e sugestões, entre em contato com qualquer uma das 3 empresas. </p>
  </article>
</section>

<footer>
  <h3>Licença de uso dos dados</h3>
  <p>Todo material aqui exibido pode ser divulgado, desde que seja referenciado. </p>
</footer>