---
title: Mulheres de T.I. em Recife
---

<aside class="aside grid">
  <header>
    <h1 class="hidden-text">Mulheres de T.I. em Recife</h1>
    <img class="image logo" src="images/logo-mulheres-de-ti-recife@2x.png" alt="">
    <ul>
      <li>
        <button class="link" type="button">
          <img class="image sparkles" src="images/illustration-sparkles@2x.png" alt="">
          Cartilha de Boas Práticas
        </button>
      </li>
      <li>
        <button class="link" type="button">
          <img class="image sparkles" src="images/illustration-sparkles@2x.png" alt="">
          Pesquisa: Como é ser Mulher de T.I. em Recife?
        </button>
      </li>
      <li>
        <button class="link" type="button">
          <img class="image sparkles" src="images/illustration-sparkles@2x.png" alt="">
          Saiba Mais
        </button>
      </li>
    </ul>
  </header>
</aside>

<section class="project section / is-yellow / wrapper grid">
  <div class="content grid">
    <article>
      <h2>No universo de 132 mulheres que atuam na área de Tecnologia da Informação (T.I.) em Recife, <span class="highlighted-text">24 relataram casos de assédio sexual* e 14 de assédio moral.</span></h2>
      <span class="divisor-line"></span>
      <small>*Assédio sexual: 16 por colegas, 8 pelo chefe.</small>
      <small>Dados obtidos em pesquisa realizada durante campanha do dia da mulher, em 2018.</small>
    </article>
    <img class="image women" src="images/illustration-women@2x.png" alt="">
  </div>
</section>

<section class="brochure section / is-purple / wrapper grid">
  <div class="content grid">
    <article>
      <h2>Juntas, podemos melhorar esta realidade.</h2>
      <p class="bigger">Em 2018 tivemos a oportunidade de expor, discutir e pensar em ações possíveis para (quem sabe um dia) transformar esse cenário. Este guia é um dos resultados da campanha “Como é ser mulher de T.I. em Recife?”, e agora, no dia da mulher em 2019, convidamos você a melhorar o seu ambiente de trabalho.</p>
    </article>
    <img class="image brochure" src="images/lettering-brochure@2x.png" alt="">
    <a class="download button" href="images/brochure.pdf" target="_blank">
      <%= inline_svg 'icon-download', role: 'presentation' %>
      Baixar Cartilha
    </a>
    <ul class="paragraphs">
      <li>
        <h4>Princípios</h4>
        <p>Listamos princípios que devem ser adotados por todos, com o objetivo de criar um ambiente de trabalho mais inclusivo e igualitário.</p>
      </li>
      <li>
        <h4>Atitudes individuais</h4>
        <p>Coisas que todo mundo pode fazer, enquanto indivíduo, que podem evitar o desconforto de mulheres no ambiente de trabalho (e na vida).</p>
      </li>
      <li>
        <h4>Atitudes para empresas</h4>
        <p>O que as instituições podem fazer para proporcionar  mais segurança para mulheres.</p>
      </li>
    </ul>
  </div>
</section>

<section class="research section / is-gray / wrapper grid">
  <article class="content grid">
    <h2>Pesquisa: como é ser mulher de T.I. em Recife?</h2>
    <p class="bigger">A gente sabe, pela própria pele e pelos relatos das colegas, que ser mulher na área de Tecnologia da Informação (T.I.) é raro e pode ser difícil. A gente também sabe que ninguém precisa de números para comprovar uma realidade, mas no dia da mulher de 2018 fizemos uma pesquisa para registrar as dificuldades encontradas por mulheres em seus ambientes de formação e trabalho. </p>
    <img class="image progress" src="images/illustration-progress@2x.png" alt="">
    <div class="paragraphs-wrapper">
      <ul class="paragraphs">
        <li>
          <h4>Por quê?</h4>
          <p>Há predominância de homens no mercado de TI; nós, mulheres neste contexto, achamos que discutir essa realidade é o primeiro passo pra mudar nossos ambientes de trabalho que nem sempre são inclusivos e, ainda, envolvem abusos e assédios.</p>
        </li>
        <li>
          <h4>Quando?</h4>
          <p>Pesquisa foi publicada no dia das mulheres, 08 de Março de 2018. A análise foi feita aos longo do mês de Maio e o evento ocorreu no início de Abril. Após o evento, revisamos o processo e discutimos ao longo dos meses como levar os apresendizados para dentro das empresas.</p>
        </li>
      </ul>
    </div>
  </article>
  <article class="content grid / scope subsection">
    <h3>Escopo da pesquisa</h3>
    <ul class="bullet-points">
      <li>Pesquisa feita através de formulário online, divulgada em redes sociais.</li>
      <li>135 respostas totais, sendo 132 válidas. 3 participantes foram desqualificados por serem de gênero masculino (1 caso) e por menosprezarem a pesquisa através de chacotas (2 casos).</li>
      <li>Perguntas quantitativas e qualitativas.</li>
    </ul>
    <img class="image dices" src="images/illustration-dices@2x.png" alt="">
  </article>
  <article class="content grid / results subsection">
    <h3>Resultados</h3>
    <p>A pesquisa foi analizada em duas etapas: a primeira compilando e cruzando dados quantitativos; a segunda avaliando e categorizando os relatos feitos pelas participantes em questões abertas,</p>
    <div class="paragraphs-wrapper">
      <ul class="paragraphs">
        <li>
          <h4>Quantitativos</h4>
          <p>Mapeamento sobre escolaridade, área de atuação, se já passou por situações de discriminação de gênero (tratamento diferente) ou se já sofreu abusos e assédios.</p>
        </li>
        <li>
          <h4>Qualitativos</h4>
          <p>Mapeamento sobre escolaridade, área de atuação, se já passou por situações de discriminação de gênero (tratamento diferente) ou se já sofreu abusos e assédios.</p>
        </li>
      </ul>
      <a class="download button" href="images/brochure.pdf" target="_blank">
        <%= inline_svg 'icon-download', role: 'presentation' %>
        Baixar Pesquisa
      </a>
    </div>
  </article>
</section>

<section class="know-more section / wrapper grid">
  <div class="content grid">
    <h2>Saiba Mais</h2>
    <ul class="informations">
      <li>
        <h4>Quem mantém o projeto?</h4>
        <p>Campanha feita por mulheres de studios de software em Recife:</p>
        <ul class="logos">
          <li>
            <a class="logo" href="https://guavasoftware.com/" target="_blank">
              <img class="image guava" src="images/logo-guava.svg" alt="">
            </a>
          </li>
          <li>
            <a class="logo" href="https://labcodes.com.br/" target="_blank">
              <img class="image labcodes" src="images/logo-labcodes.svg" alt="">
            </a>
          </li>
          <li>
            <a class="logo" href="https://www.vinta.com.br/" target="_blank">
              <img class="image vinta" src="images/logo-vinta.svg" alt="">
            </a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Contato</h4>
        <p>Em caso de dúvidas, elogios e sugestões, acesse o site de uma das três empresas para entrar em contato conosco.</p>
      </li>
    </ul>
  </div>
</section>

<footer class="wrapper grid">
  <div class="content grid">
    <hr>
    <article>
      <h4>Licença de uso dos dados</h4>
      <p>Todo material aqui exibido pode ser divulgado, desde que seja referenciado. </p>
    </article>
    <img class="image feminism" src="images/illustration-feminism@2x.png" alt="">
  </div>
</footer>