///////////////////////////////////////////////////////////
// Footers                                      (Module) //
///////////////////////////////////////////////////////////

footer {
  margin: $gutter-medium 0;
  @include media(">notebook") { margin: $gutter-big 0 $gutter-medium; }
  hr {
    @include media("<notebook") { display: none; }
  }
  article {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 2.5rem);
  }
  p {
    width: 90%;
    @include media(">notebook") { width: 70%; }
  }
  img {
    @include media("<tablet") {
      position: absolute;
      top: $gutter-medium;
      right: $gutter-medium;
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
