///////////////////////////////////////////////////////////
// Asides                                       (Module) //
///////////////////////////////////////////////////////////

aside {
  background-color: $white;
  img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding-top: 40px;
  }
}