///////////////////////////////////////////////////////////
// Asides                                       (Module) //
///////////////////////////////////////////////////////////

aside {
  background-color: $white;
  padding: 3.6rem $gutter-medium 0;
  box-sizing: border-box;
  img {
    width: 10rem;
    height: auto;
    display: block;
  }
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  ul {
    text-align: right;
    margin-top: $gutter-medium;
  }
  li {
    margin-bottom: $gutter-small-alt;
    &:nth-child(2) button { width: calc(100% - 1rem); }
  }
  button {
    text-align: right;
    position: relative;
    img {
      @include transition;
      width: .6rem;
      height: auto;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: -1rem;
      margin-top: -.9rem;
    }
    &:hover img,
    &:active img,
    &.active img { opacity: 1; }
  }
}
