///////////////////////////////////////////////////////////
// Footers                                      (Module) //
///////////////////////////////////////////////////////////

footer {
  margin: $gutter-big 0 $gutter-medium;
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}
