///////////////////////////////////////////////////////////
// Images                                       (Module) //
///////////////////////////////////////////////////////////

.image {
  height: auto;
  &.logo     { width: 10rem; }
  &.women    { width: 12.5rem;; }
  &.sparkles { width: .6rem; }
  &.brochure { width: 18rem; }
  &.progress { max-width: 36rem; }
  &.dices    { width: 7.1rem; }
  &.guava    { width: 4.6rem; }
  &.labcodes { width: 5.4rem; }
  &.vinta    { width: 4.8rem; }
  &.feminism { width: 2.5rem; }
}
