///////////////////////////////////////////////////////////
// Sections                                     (Module) //
///////////////////////////////////////////////////////////

.section {
  padding: $gutter-bigger 0;
  h2, p {
    max-width: 40rem;
    @include media(">huge") { max-width: 50rem; }
  }

  // Project section
  &.project {
    padding-bottom: 4rem;
    h2 {
      line-height: 2.4rem;
      margin-bottom: $gutter-huge;
    }
    img {
      position: absolute;
      right: 1rem;
      bottom: -$gutter-medium;
    }
    .divisor-line {
      width: $gutter-big;
      height: .1rem;
      display: block;
      background-color: $white;
      margin-bottom: $gutter-medium;
    }
  }

  // Brochure section
  &.brochure {
    img {
      margin: $gutter-bigger 4rem $gutter-bigger 0;
      display: block;
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  // Research section
  &.research {
    img.progress { padding: $gutter-big 0 $gutter-bigger; }

    .scope {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      .bullet-points {
        width: calc(90% - 142px);
        padding-right: 2rem;
        box-sizing: border-box;
      }
    }

    .button { margin: 0 auto; }

    .results ul { margin: 1rem 0 2rem; }
    @include media(">notebook") {
      .results li:first-child { text-align: right; }
    }
  }

  // Know-more section
  &.know-more {
    .informations {
      display: flex;
      justify-content: space-between;
      > li { width: 45%; }
    }
    .logos {
      display: flex;
      align-items: center;
      margin-top: $gutter-regular;
      li {
        &:not(:last-child) { margin-right: $gutter-regular; }
        &:first-child { margin-top: $gutter-small; }
      }
    }
    .logo { opacity: .8; }
  }
}

.subsection {
  padding-top: 2rem;
  position: relative;
}

.bullet-points {
  font-size: size(regular);
  line-height: 25px;
  list-style: disc;
  padding-left: 1rem;
  li { margin-bottom: 1rem; }
}

.paragraphs-wrapper {
  max-width: 45rem;
  width: 90%;
}

.paragraphs {
  display: flex;
  justify-content: space-between;
  li {
    width: 100%;
    &:not(:first-child) { padding-left: 2rem; }
  }
}
