///////////////////////////////////////////////////////////
// Sections                                     (Module) //
///////////////////////////////////////////////////////////

.section {
  padding-top: $gutter-bigger;
  padding-bottom: $gutter-bigger;
  h2 { max-width: 850px; }
  p  { max-width: 800px; }

  // Project section
  &.project {
    padding-bottom: $gutter-bigger;
    @media (min-width: breakpoints(tablet)) { padding-bottom: 4rem; }
    h2 {
      margin-bottom: $gutter-medium;
      @media (min-width: breakpoints(tablet)) { margin-bottom: $gutter-bigger; }
    }
    img {
      width: 180px;
      height: auto;
      margin: $gutter-medium auto 0;
      display: block;
      @media (min-width: breakpoints(notebook)) {
        position: absolute;
        right: 0;
        bottom: -$gutter-medium;
        width: 250px;
        margin: 0;
      }
    }
    .divisor-line {
      width: $gutter-big;
      height: .1rem;
      display: block;
      background-color: $white;
      margin-bottom: $gutter-medium;
    }
  }

  // Brochure section
  &.brochure {
    img {
      margin: $gutter-bigger auto;
      width: 400px;
      max-width: 90%;
      height: auto;
      display: block;
    }
    .principles {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        &:not(:last-child) { margin-bottom: $gutter-regular; }
        @media (min-width: breakpoints(tablet)) {
          width: 30%;
          &:not(:last-child) { margin-bottom: 0; }
        }
      }
    }
  }

  // Research section
  &.research {
    h2 { margin-bottom: $gutter-small; }
  }

  // Know-more section
  &.know-more {
    .informations {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      > li {
        &:first-child { margin-bottom: $gutter-regular; }
        @media (min-width: breakpoints(tablet)) {
          width: 45%;
          &:first-child { margin-bottom: 0; }
        }
      }
    }
    .logos {
      display: flex;
      align-items: center;
      margin-top: $gutter-regular;
      flex-wrap: wrap;
      li {
        width: 100%;
        margin-bottom: 20px;
        @media (min-width: breakpoints(tablet)) {
          width: auto;
          margin-bottom: 0;
          &:not(:last-child) { margin-right: .9rem; }
        }
        @media (min-width: breakpoints(notebook)) {
          &:not(:last-child) { margin-right: $gutter-regular; }
          &:first-child { margin-top: $gutter-small; }
        }
      }
    }
    .logo {
      height: auto;
      opacity: .8;
      .guava    { width: 92px; }
      .labcodes { width: 108px; }
      .vinta    { width: 96px; }
    }
  }
}
